@charset "utf-8";


/*  
*   SECTION STYLE
*/

.main {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
            
    .main-title-sm {
        display: block;
        margin-bottom: 0;
        color: $color-gray;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0.26rem;
    }

    .main-title {
        position: relative;
        margin-top: 14px;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.38rem;
        
        &:after {
                display: block;
                position: absolute;
                bottom: -36px;
                left: 50%;
                margin-left: -30px;
                width: 60px;
                height: 1px;
                background-color: #fff;
                content: '';
        }
    }
    
    .main-video {
        margin-bottom: 20vh;
        
        .video-01 {
            //@include position-center;
        }
    }
}
//end of .main





.greeting {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    background-position: 50%;
    background-image: url(#{$path-image}bg_greeting.png);
    background-repeat: no-repeat;
    
    .greeting-inner {
        width: 60%;
        max-width: 620px;
    }
    
    .greeting-title {
        position: relative;
        font-size: 25px;
        letter-spacing: 0.3rem;
        
        &:after {
            display: block;
            position: absolute;
            bottom: -36px;
            left: 0;
            width: 90px;
            height: 3px;
            background-color: #fff;
            content: '';
        }
    }
    
    
    .greeting-text {
        margin-top: 64px;
        @include font-sub;
        font-size: 16px;
        
        p {
            margin-top: 26px;
            line-height: 1.9;
            color: $color-gray;
                
            &:first-child {
                margin-top: 0;
            }
        }
    }
}
